<div id="partnerform_cont">
	<%= form_for(@partner, :remote => true, :html => { :id => "partner_form"}) do |f| %>
		<div class="message hide"></div>
		
    <div class="field">
	    <%= f.text_field :fullname, :class => "fullname"  %>
	  </div>
	  <div class="field">
	    <%= f.text_field :email, :class => "emailtext"  %>
	  </div>
    <div class="field">
      <%= f.text_area :address, :class => "address", :rows => "4" %>
    </div>
	  <div class="field">
	    <%= f.text_field :country, :class => "country"  %>
	  </div>
    <div class="field">
      <%= f.text_area :message, :class => "messagetext", :rows => "8" %>
    </div>
	  <div class="actions">
	    <%= f.button "I want to become", :type => "submit", :id => "partner_submit" %>  <%= select_tag "partner[partnertype]", "<option>Community Partner</option><option>Wholesale Partner</option><option>Other partner</option>".html_safe, :class => "band_type" %>  <%= image_tag('ajax-loader.gif', :class => "hide", :id => "ajaxloader") %>
	  </div>
	<% end %>
</div>
