<h1>Listing partners</h1>

<table>
  <tr>
    <th>Lastname</th>
    <th>Firstname</th>
    <th>Email</th>
    <th>Company</th>
    <th>Street1</th>
    <th>Street2</th>
    <th>City</th>
    <th>State</th>
    <th>Zipcode</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.lastname.inspect %></td>
    <td><%= partner.firstname %></td>
    <td><%= partner.email %></td>
    <td><%= partner.company %></td>
    <td><%= partner.street1 %></td>
    <td><%= partner.street2 %></td>
    <td><%= partner.city %></td>
    <td><%= partner.state %></td>
    <td><%= partner.zipcode %></td>
    <td><%= partner.partnertype %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
