<p id="notice"><%= notice %></p>

<p>
  <b>Lastname:</b>
  <%= @partner.lastname %>
</p>

<p>
  <b>Firstname:</b>
  <%= @partner.firstname %>
</p>

<p>
  <b>Email:</b>
  <%= @partner.email %>
</p>

<p>
  <b>Company:</b>
  <%= @partner.company %>
</p>

<p>
  <b>Street1:</b>
  <%= @partner.street1 %>
</p>

<p>
  <b>Street2:</b>
  <%= @partner.street2 %>
</p>

<p>
  <b>City:</b>
  <%= @partner.city %>
</p>

<p>
  <b>State:</b>
  <%= @partner.state %>
</p>

<p>
  <b>Zipcode:</b>
  <%= @partner.zipcode %>
</p>

<p>
  <b>Type:</b>
  <%= @partner.type %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
