<header id="masthead" class="row">
  <%= link_to image_tag("logo150.png"), root_path, :id => "logo", class: "four columns alpha" %>
  <nav class="eleven columns omega">
    <ul id="topnav">
      <li><%= link_to "Browse Products", showcase_path %></li>
      <li><%= link_to "Meet Designers", designers_path %></li>
      <li><%= link_to "Partner with us", partners_path %></li>
      <li><%= link_to "About us", about_path %></li>
      <li><%= link_to "Contact us", contact_path %></li>
      <li><a href="#partner-faq" class="partner-faq-link">Partner FAQ</a></li>
    </ul>
  </nav>
</header>
