<header id="masthead">
  <%= link_to image_tag("logo150.png"), root_path, :id => "logo" %>
  <nav>
    <ul id="topnav">
      <li><%= link_to "Browse Products", showcase_path %></li>
      <li><%= link_to "Meet Designers", designers_path %></li>
      <li><%= link_to "Partner with us", partners_path %></li>
      <li><%= link_to "Blog", about_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>
