<header id="masthead">
	<%= link_to raw("<h1>SweetlyDesigns</h1>"), root_path, :id => "logo" %>
	<nav>
		<ul id="topnav">
			<li>
				<a href="#">Store</a>
			</li>
			<li>
				<%= link_to "Designers", designers_path %>
			</li>
			<li>
				<%= link_to "Get Involve", getinvolve_path %>
			</li>
			<li>
				<a href="#">Blog</a>
			</li>
			<li>
				<%= link_to "About", about_path %>
			</li>
			<li>
				<%= link_to "Contact", contact_path %>
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</header>
