<header id="masthead">
  <%= link_to raw("<h1>Sweetly</h1>"), root_path, :id => "logo" %>
  <nav>
    <ul id="topnav">
      <li><a href="#">Showcase</a></li>
      <li><%= link_to "SJS", sjs_path %></li>
      <li><%= link_to "Wholesale partner", wholesalepartner_path %></li>
      <li><%= link_to "Double the impact", goodwillband_path %></li>
      <li><%= link_to "Our story", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
  <div class="clear"></div>
</header>
