<h1 class="title centxt" >Here's our Story !</h1>
<div class="timeline">
	<section class="work">
		<div class="month">
			<span>July<br /><label>2010</label></span>
		</div>
		<article class="work_details">
			<header class="title">
				<h2>Emily's Idea of Fair Trade Social Enterprise</h2>
			</header>
			<p class="desc">Harvard University Undergrad Emily Cunningham meets Team Point10 with the idea of building fair trade social enterprise with rural women making jewelry which can be sold in Boston area.
				<%= image_tag "about/first.png" %>
				<%= image_tag "about/emily-meets-p10.png", :width => "250", :class => "first" %>
			</p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Dec<br /><label>2010</label></span>
		</div>
		<article class="work_details right">
			<header class="title">
				<h2>First Meet with Rural Women</h2>
			</header>
			<p class="desc">We met the group of women from Adesh Mahila Mandal at Satvik Food Festival'10 organized at IIM A. They were selling the food items of Dangs with small number of jewelry items. <%= image_tag "about/dangs.png", :width => "250", :class => "second" %></p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Jan<br /><label>2011</label></span>
		</div>
		<article class="work_details">
			<header class="title">
				<h2>First visit to beautiful Dangs</h2>
			</header>
			<p class="desc">We visited the Dangs for the first time on 7th Jan 2011 but were little disappointed with the lack of development in the region in spite of such beautiful lush green surroundings. We chose the dangs to create the base for Sweetly and started working with women in Sajupara Village. <%= image_tag "about/community.png", :class => "third" %></p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Feb-Apr<br /><label>2011</label></span>
		</div>
		<article class="work_details right">
			<header class="title">
				<h2>Community Building and Design Training</h2>
			</header>
			<p class="desc">We visited dangs once each month to build community of rural women by providing them moral support, design training, raw materials and equipments. <br/ ><br />
				We identified group of 15 women who were willing to do jewelry making and work in groups. We started giving raw material, designs training and these 15 women started creating beautiful jewelry. At each iteration of jewelry making process they started creating more finished jewelry and created beautiful simple designs.These women normally worked 3 hrs a day during afternoon after completing their household chores. They were participating in this without actually effecting their day-to-day life.They were getting paid for the individual pieces of jewelry that they were making. <%= image_tag "about/gcci-youth-wing-award.png", :class => "fourth" %></p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Apr<br /><label>2011</label></span>
		</div>
		<article class="work_details">
			<header class="title">
				<h2>Honoured with GCCI Youth Wing Business Idea Award</h2>
			</header>
			<p class="desc">Sweetly won the GCCI Youth Wing Business Idea Award - 2011 in presence of leading industry leaders and Gujarat Chief Minister - Mr. Narendra Modi.
				<%= image_tag "about/campfires.png", :class => "fifth", :width => "170" %>
			</p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>May-Jun<br /><label>2011</label></span>
		</div>
		<article class="work_details right">
			<header class="title">
				<h2>Experimental sale with Sweetly Campfires Tours</h2>
			</header>
			<p class="desc">We organized the first SweetlyCampfires trip to take travellers to experience the beautiful Dangs and see the beautiful jewelry made by rural women.
				<%= image_tag "about/events.png", :class => "sixth" %>
			</p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Jul-Sept<br /><label>2011</label></span>
		</div>
		<article class="work_details">
			<header class="title">
				<h2>Showcasing Sweetly Designs @ Point10 Events</h2>
			</header>
			<p class="desc">We started organizing experimental event sale for sweetly and visited various places to identify the localized raw material makers. As a part to reach to many people started building the online store.
				<a href="http://www.youtube.com/embed/-M3c8ggq_Yo?autoplay=1" class="youtube iframe">
					<%= image_tag "about/launch.png", :class => "seventh" %>	
				</a>
			</p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Oct<br /><label>2011</label></span>
		</div>
		<article class="work_details right">
			<header class="title">
				<h2>Official Launch of Sweetly on 10th Oct 2011</h2>
			</header>
			<p class="desc">We launched Sweetly in United States - with Emily Cunningham ( Co-Founder, President - US Operations ) leading our US business.<br /><br />
				We exhibited Sweetly jewelry designs in various events organized in Harvard University.<br /><br />
				Partnered with Harvard University student group ‘ Circle of Women’ as community partner and “Karma Yoga Studio” as retail partner
				<%= image_tag "about/huwib-award.png", :class => "eighth" %>
			</p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Nov<br /><label>2011</label></span>
		</div>
		<article class="work_details huwib">
			<header class="title">
				<h2>Honored with HUWIB - Business For Good Competition @ Harvard University</h2>
			</header>
			<p class="desc">Emily Cunningham, Co-Founder - Sweetly won the HUWIB (Harvard Undergraduate Women in Business) - Business for Good Competition and Harvard Innovation Challenge.
				<%= image_tag "about/circle.png", :class => "ninth" %>
			</p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Dec<br /><label>2011</label></span>
		</div>
		<article class="work_details right">
			<header class="title">
				<h2>Completing the Circle - Growing Sales in USA</h2>
			</header>
			<p class="desc">For the first time we reached the $1000 sales milestone during the month of December 2011. Community partnerships, retailer partnerships contributed 90% sales and Sweetly.us - web store contributed 10% total sales.<br /><br /><br /><br /><br /><br /><br /><br /></p>
		</article>
	</section>
	<section class="work">
		<div class="month">
			<span>Jan-Mar<br /><label>2012</label></span>
		</div>
		<article class="work_details">
			<header class="title">
				<h2>Launch of new Website and first partner in UK</h2>
			</header>
			<p class="desc">
				We appointed our first partner in UK market based in London.<br /><br />Realizing the growing demand we launched the New Sweetly Web interface and worked on development of - Sweetly.us online platform.
				<%= image_tag "about/new-web.png", :class => "tenth" %>
			</p>
		</article>
	</section>
	<div class="clear"></div>
	<div class="impact">
		In last 9 months, we have <span>created jobs for 15 rural women</span> in Sajupara Village,<br /> Dangs District, Gujarat who <span>work 3-4 hours a day</span> for 6 days a week making<br /> handmade jewelry and <span>earning almost Rs. 1200-1500 per month</span>.
	</div>
	<div class="next">
		<h1>What's next in coming 3 months</h1>
		<ul>
			<li>
        Whole new Web Stores for US, UK and India
			</li>
			<li>
				 Sweetly Business for Good (BFG) movement
			</li>
			<li>
				Sweetly Festivals in India
			</li>
		</ul>
		<h1><h2>Stay tuned...</h2></h1>
	</div>
</div>
