<div id="primary">
  <article>
    <header>
      <h1 id="what-is">
        <span>About us</span>
      </h1>
    </header> <!-- #what-is -->   
    <section class="desc" >
      <p>
        Sweetly creates jobs for rural women in Dangs District, Gujarat, India by enabling them to make beautiful handmade jewelry and markets these products globally thru Web store, Community events and Sweetly partners.
      </p>
      <p>Sweetly works closely with rural women with design-focused community development approach to create beautiful handmade jewelry designs. Our designers are the member of Aadesh Mahela Mandal — a self-help group based in sajupara village in Dang district comprised of rural women for the development and co-opreation.</p>
      <p>Sweetly provides direct employment to 15 rural women in Sajupara Village, Dangs district who work almost 3-4 hours a day for 6 days a week earning Rs. 1500 per month.</p>
      <p>Sweetly won the GCCI Youth Wing Business Idea Award 2011 – presented by Gujarat CM – Mr. Narendra Modi and prestigious Harvard Innovation Challenge and HUWIB – Business For Good competition.</p>
      <p>Our aim is to employ at least 1000 rural women in Gujarat in coming few years and be an inspiration for others to do social good.</p>
      <p><a href="<%= story_path %>">Read our story so far &rarr;</a></p>
    </section>
  </article>
  <article class="ourteam">
    <header>
      <h1 class="what-is">
        <span>Meet the People behind Sweetly</span>
      </h1>
    </header>
    <div>
      <ul>
        <li>
          <%= image_tag "profilepics/jatin.png" %>
          <div>
            <h2>Jatin Chaudhary &mdash; <span>the number TEN</span></h2>
            <p>Few years ago, Jatin decided to do something to respond to the problems he faced during his engineering (which took 7 years to complete and desribed as most intense learing experience of his life) and hence he Co-Founded Point10 &mdash; a business group focused on education reforms, rural empowerment and promoting entrepreneurial culture amongst youth. He had done and still doing wonderful things with Point10. Sweetly is also outcome those efforts where Point10 decided to do something for Rural India (Inspired by the Dr. APJ kalam speech at A'bad). Before starting Point10, Jatin worked in diverse roles across multiple industry verticals i.e. International Call Centers, Architectural Stone Exports, Technology Consulting, and Enterprise IT solutions.</p>
            <p>Apart from this, Jatin can be found at tea stall enjoying tea with entrepreneurs (he calls it E-Chai) and discussing innovative ways to solve the social problems and improve the education ecosystem.</p>
          </div>
        </li>
        <li>
          <%= image_tag "profilepics/kunal.png" %>
          <div>
            <h2>Kunal Chaudhari &mdash; <span>the rails guy</span></h2>
            <p>Kunal is a software engineer from Nirma Institute of Technology (who hated most part of his engineering) lives two different lives during day. One part of the day, he can be found working at his farms or planning a new irrigation system. And the evenings and nigths are engaged in working with his Apple gears, developing a new analytic system to monitor the Sweetly sales, designing new applications and contributing to open source.</p>
            <p>Apart from this, Kunal can be found driving cars, visiting relatives with family (poor chap) or playing cricket like most of Indian.</p>
          </div>
        </li>
        <li>
          <%= image_tag "profilepics/emily.png" %>
          <div>
            <h2>Emily Cunningham &mdash; <span>the harvard girl</span></h2>
            <p>Emily is an undergrate studing economics at Harvard university. Sweetly came to life with the idea from Emily to join hands with Point10 to sell jewelry made by Rural people in US market. Emily is responsible for understanding the US consumer base and manages the sells in Boston, USA. Emily is firm believer in providing a equal opportunity to rural people market their products and make their lives better.</p>
            <p>Apart from this, Emily can be found organizing events for social cause, browsing kiva to contribute in growth of small businesses.</p>
          </div>
        </li>
        <li>
          <%= image_tag "profilepics/parth.png" %>
          <div>
            <h2>Parth Shah &mdash; <span>the doer</span></h2>
            <p>Parth is a firm believer in getting the work done. Wherever he goes he makes his mark with this approach. He is with Point10 since inception and doing (yeah he is doer) quite amazing work of managing events and rural initiatives. Parth holds a degree in Internation Business management(don't know that has anything to do with his doer thing) from Humber college, Canada. He is also involved in various social activities.</p>
            <p>Apart from this, Parth can be found dicsssing new ideas and how to execute them, watching movies or attending various events in city.</p>
          </div>
        </li>
        <li>
          <%= image_tag "profilepics/arpana.png" %>
          <div>
            <h2>Arpana Chaudhari &mdash; <span>the people person</span></h2>
            <p>Arpana is a final year drop-out electronics & communications student from, Nirma University. She is with Point10 since inception and in charge of overall operations of wide ranging projects on education reforms and rural empowerment. She is working with rural people to hear there personal accounts and to devise a strategy for cooperation and production. She is also involved in product design and training to rural women. Arpana has great understanding of rural women's interest and ability, She closely work with each woman to see that each woman can get their choice of materials and tools.</p>
            <p>Apart from this, Arpana can be found cooking new recipes, reading books and thinking new jewelry designs.</p>
          </div>
        </li>
        <li>
          <%= image_tag "profilepics/nisha.png" %>
          <div>
            <h2>Nisha Kagra &mdash; <span>the design magician</span></h2>
            <p>Nisha is main person behind the excellent jewelry designs. She designs the products and trains rural women. She teaches them fundamentals things they need to keep in mind while product developement. Nisha interact with each woman and collaborate with them to make the sample jewelry. With her magical touch she makes jewlery in a bliss and inspires each woman to achieve a new level each time they make jewelry.</p>
            <p>Apart from this, Nisha can be found playing cricket, watching movies and travelling places.</p>
          </div>
        </li>
        <div class="clear">
        </div>
      </ul>
    </div>
  </article>
</div>
