<div id="primary">
  <header>
		<h1 id="what-is">
			<span>Meet our designers</span>
		</h1>
	</header> <!-- #what-is -->
  <section class="groupinfo">
    Sweetly works closely with rural women with design-focused community development approach to create beautiful handmade jewelry designs. Our designers are the member of Aadesh Mahela Mandal &mdash; a self-help group based in sajupara village in Dang district comprised of rural women for the development and co-opreation. Kuntaben Gamit is the president of the group and manages the group. When the Forest department of Dang wanted to give training to rural women for their development, she saw a golden opportunity for herself as well as the folks of her village. She took an active interest and convinced others to join the program working on it untill late night. It wasn’t easy as there was opposition from some families for women to work and she had to do everything at the cost of her own time and energy. But she didn’t give up and today they are making very beautiful fashion jewelery.
  </section>
</div>
<div class="designers">
  <ul>
    <li>
      <article>
        <header>
          <h1><%= image_tag "designer/t/elishaben-500-1.png" %></h1>
          <ul>
            <li>Elishaben Rajeshbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I feel more independent and confident than ever before as now I am contributing to my family’s welfare and participating in major family decisions.&#8221;</q>
        </p>
      </article>
    </li>
    <li class="even">
      <article>
        <header>
          <h1><%= image_tag "designer/t/anilaben-500-1.png" %></h1>
          <ul>
            <li>Anilaben Niteshbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I feel a great deal of dignity in jewelry making work compare to the previous labor-intensive jobs that we were doing to generate income.&#8221;</q>
        </p>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h1><%= image_tag "designer/t/ajanaben-500-1.png" %></h1>
          <ul>
            <li>Aajanaben Ruvajibhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I am delighted with the fact that my jewelry designs are sold in United States and weared by people living so far away from my village, Sajupara in Dangs District.&#8221;</q>
        </p>
      </article>
    </li>
    <li class="even">
      <article>
        <header>
          <h1><%= image_tag "designer/t/kuntaben-500-1.png" %></h1>
          <ul>
            <li>Kuntaben Dineshbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;Just six months back I was facing resistance from people in my village to be involved in this experiment of making jewelry for a living, and now the very same people are requesting me to join the activities I’ve been associated with.&#8221;</q>
        </p>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h1><%= image_tag "designer/t/amitaben-500-1.png" %></h1>
          <ul>
            <li>Amitaben Arjunbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;Now I can pay more attention to better our children’s education  health and family well being while ensuring that I earn more than I previously did by just working 4 hrs a day.&#8221;</q>
        </p>
      </article>
    </li>
    <li class="even">
      <article>
        <header>
          <h1><%= image_tag "designer/t/ramilaben-500-1.png" %></h1>
          <ul>
            <li>Ramilaben Damubhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I am happy because my household income have increased significantly thru jewelry making which is contributing to the my family’s welfare.&#8221;</q>
        </p>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h1><%= image_tag "designer/t/rekhaben-500-1.png" %></h1>
          <ul>
            <li>Rekhaben Ishwarbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I love interacting with different designers during Design for Dangs camps and learn from these wonderful people. I am very much excited for the upcoming Design for Dangs camp so that I can show my different designs to the professional designers to get their feedback.&#8221;</q>
        </p>
      </article>
    </li>
    <li class="even">
      <article>
        <header>
          <h1><%= image_tag "designer/t/sangitaben-500-1.png" %></h1>
          <ul>
            <li>Sangitaben Ishwarbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I really love making jewelry in groups and help each other to make our piece of jewelry look more beautiful. After completing our household chores we get together in groups to make jewelry during afternoon.&#8221;</q>
        </p>
      </article>
    </li>
    <li>
      <article>
        <header>
          <h1><%= image_tag "designer/t/viruben-500-1.png" %></h1>
          <ul>
            <li>Viruben Raysingbhai Gamit</li>
          </ul>
        </header>
        <p>
          <q>&#8220;I never imagined that one day I would be training women from near by villages to make jewelry. This gives me great satisfaction as not only me but thru my efforts I am able to empower other women in my district.&#8220;</q>
        </p>
      </article>
    </li>
  </ul>  
</div>
