<div id="primary">
	<header>
		<h1 id="what-is">
			<span>Simple, stylish and designer handmade jewelry</span> <br /><label>created by Sweetly empowered rural women</label>
		</h1>
	</header> <!-- #what-is -->
  <section id="shop-learn-involve">
  <a id="shop" href="<%= showcase_path %>" >
      <%= image_tag "model/1.png" %>
      <h3>Shop</h3>
    </a>
    <a id="learn" href="<%= designers_path %>" class="second">
      <%= image_tag "designer/250/1.png" %>
      <h3>Learn</h3>
    </a>
    <a id="involve" href="<%= partners_path %>" class="last">
      <%= image_tag "getinvolve.png" %>
      <h3>Partner</h3>
    </a>
    <div class="learn-div">
      <%= image_tag "up-arrow.png" %>
      Meet our designers
    </div>
    <div class="involve-div">
      <%= image_tag "up-arrow.png" %>
      Partner with Sweetly and maximize your gain.
    </div>
    <div class="shop-div">
      <%= image_tag "up-arrow.png" %>
      Browse from the wide range of handmade jewelry.
    </div>
    <div class="clear">
    </div>
  </section>
</div>

<aside id="whatwedo">
	<p>Sweetly provides <span>design training</span>, <span>raw materials</span>, and <span>knowledge resources</span> to Rural Women in <a href="/">Dangs District, <br />Gujarat, India</a> to enable them make beautiful handmade jewelery and markets these beautiful products <br />in North America thru <a href="/">Sweetly Web Store</a>, <a href="/">Community events</a>, and <a href="/">Sweetly partners.</a></p>
</aside>
<section id="beatiful-creations">
	<h1>Beautiful creations by empowered women</h1>
  <div>
    <a href="<%= showcase_path %>" >
      <%= image_tag "jewelry/11.jpg", :width => "150" %>
      <%= image_tag "jewelry/2.jpg", :width => "150" %>
      <%= image_tag "jewelry/3.jpg", :width => "150" %>
      <%= image_tag "jewelry/4.jpg", :width => "150" %>
      <%= image_tag "jewelry/5.jpg", :width => "150" %>
      <%= image_tag "jewelry/6.jpg", :width => "150", :class => "last" %>
      <%= image_tag "jewelry/7.jpg", :width => "150" %>
      <%= image_tag "jewelry/8.jpg", :width => "150" %>
      <%= image_tag "jewelry/9.jpg", :width => "150" %>
      <%= image_tag "jewelry/10.jpg", :width => "150" %>
      <%= image_tag "jewelry/12.jpg", :width => "150" %>
      <%= image_tag "jewelry/13.jpg", :width => "150", :class => "last" %>
      <div class="clear"></div>
    </a>
  </div>
</section>
<section id="getinvolve">
	<h1>Let's work together to make beautiful world! </h1>
	<div class="box partner">
		<a href="<%= wholesalepartner_path %>" >
			<article>
				<%= image_tag "wholesale.jpg" %>
				<h2>Become a wholesale partner</h2>
				<ul>
					<li>Select from wide-range of unique handmade designs.</li>
					<li>Customize designs to match your style.</li>
					<li>45% discount on your wholesale order.</li>
					<li><br /><%= link_to raw("Learn more"), wholesalepartner_path %> &rarr;</li>
				</ul>
			</article>
		</a>
	</div>
	<div class="box sjs">
		<a href="<%= sjs_url %>" >
			<article>
				<%= image_tag "sjs.jpg" %>
				<h2>Host Sweetly store</h2>
				<ul>
					<li>Perfect for campus or community fundraisers or the aspiring entrepreneur</li>
					<li>Earn 25% on every product</li>
					<li>Return any inventory that is not sold at no cost</li>
					<li><br /><%= link_to raw("Learn more"), sjs_path %> &rarr;</li>
				</ul>
			</article>
		</a>
	</div>
	<div class="box dti last">
		<a href="<%= goodwillband_url %>" >
			<article>
				<%= image_tag "dti.jpg" %>
				<h2>Double the impact</h2>
				<ul>
					<li>Raise money for your community group with Sweetly Goodwill Band</li>
					<li>Specially handcrafted goodwill bands</li>
					<li>Purchase each Goodwill band for $2 only</li>
					<li><br /><%= link_to raw("Learn more "), goodwillband_path %> &rarr;</li>
				</ul>
			</article>
		</a>
	</div>
	<div class="clear"></div>
</section>
<div id="awards-and-news">
	<section class="awards">
		<h1>Awards and Recognitions</h1>
		<div>
			<%= image_tag "news/youthwing.jpg", :width => 120 %>
			<%= image_tag "news/wib.jpg", :width => 130 %>
			<%= image_tag "news/HarvardInnovationChallenge.jpg", :width => 100 %>
		</div>
	</section>
	<section class="news">
		<h1>Featured in</h1>
		<ul>
			<li><%= image_tag "news/amlogo.gif", :width => 200 %></li>
			<li><%= image_tag "news/weekend.jpg", :width => 150, :class => "weekend" %></li>
			<li><%= image_tag "news/et.png", :width => 200 %></li>
			<li><%= image_tag "news/gujarat.jpg", :width => 200 %></li>
			<div class="clear"></div>
		</ul>
	</section>
	<div class="clear"></div>
</div>
<div class="centxt ft-btn">
  <a href="<%= showcase_path %>" class="button">
		<span>Shop now</span>
	</a>
</div>
