<div id="primary" class="models-container">
	<header>
		<h1 id="what-is">
			<span>Here are some of classic products from our designers</label>
		</h1>
	</header> <!-- #what-is -->
  <ul class="models-ul">
    <li>
      <%= image_tag "models/1.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/2.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/3.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/4.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/6.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/7.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/8.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/10.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/12.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/13.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/14.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/15.jpg", :width => "200" %>
    </li>
    <li>
      <%= image_tag "models/16.jpg", :width => "200" %>
    </li>
    <div class="clear">
      
    </div>
  </ul>
</div>
