<div id="primary">
	<header>
		<h1 id="what-is">
			<span>Become a valued wholesale partner</span> <br /><label>purchase sweetly products at 45% discount on your wholesale order.</label>
		</h1>
	</header> <!-- #what-is -->
	<aside id="whatwedo">
		<p>Sweetly works closely with rural women with design-focused community development approach to create <br/ >beautiful handmade jewelry designs. As a wholesale partner you may purchase wide-range of Sweetly products for resale <br/ >in your store. Wholesale orders can range from simple pre-selected packages to the creation of beautiful intricate new designs.</p>
	</aside>
	<div class="adv-cont">
		<div class="adv">
			<ul>
				<li>
					Select from wide-range of beautiful handmade jewelry designs.
				</li>
				<li>
					Customize designs to match your style.
				</li>
				<li>
					45% discount on your wholesale order.
				</li>
			</ul>
		</div>
		<div class="products">
			<%= image_tag "jewelry/1.jpg", :width => 75  %>
			<%= image_tag "jewelry/2.jpg", :width => 75  %>
			<%= image_tag "jewelry/3.jpg", :width => 75  %>
			<%= image_tag "jewelry/4.jpg", :width => 75  %>
			<%= image_tag "jewelry/5.jpg", :width => 75  %><br />
			<%= image_tag "jewelry/6.jpg", :width => 75  %>
			<%= image_tag "jewelry/7.jpg", :width => 75  %>
			<%= image_tag "jewelry/8.jpg", :width => 75  %>
			<%= image_tag "jewelry/9.jpg", :width => 75  %>
			<%= image_tag "jewelry/10.jpg", :width => 75  %>
		</div>
		<div class="clear"></div>
	</div>

</div>

<div class="cendiv">
	<div class="partner-form">
		<h1>Fill out below form to show your interest.</h1>
		<%= render :partial => 'partners/form' %>
	</div>
	<div class="partner-faq">
		<h2>FAQ</h2>
		<ul>
			<li>
				<div class="que">
					Minimum order should be $500 to create new wholesale partner account
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>
			<li>
				<div class="que">
					All prices listed online are suggested retail
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>
			<li>
				<div class="que">
					A new Wholesale partner receives 45% discount and pays a 5% freight charge one the shipped, wholesale value of the order. After purchases exceed $10,000 wholesale on annual basis, the discount will be increased to 50%.
				</div>
				<div class="ans">
					This is wornderful. You can get jewelry at 45% discount and earn the profit by reselling in you store.
				</div>
			</li>

		</ul>
	</div>
	<div class="clear"></div>
</div>
