<div id="primary">
  <article>
    <header>
      <h1 id="what-is">
        <span>Become a Sweetly Partner and Do Business for Good.</span>
      </h1>
    </header> <!-- #what-is -->
    <section class="desc" >
      <p>Let’s work together to create beautiful world. Sweetly works with organizations, community groups, students groups, and individuals who retail or resell our products and get very good returns.</p>
    </section>
    <section class="partner-adv">
      <div class="first">
        <ul>
          <li class="blue">
            <a class="partnerbox" href="#become-a-partner">
              <%= image_tag "wholesale.png" %>
              <div>
                <h2>Become a Official Sweetly Retailer.</h2>
                <div class="left">
                  You have a retail store and want to introduce new exclusive product line for your customers to keep them more engaged with your offerings and increase your margins.
                  <span>Become a Partner</span>
                </div>
                <div class="right">
                  <ol>
                    <li>
                      Get 50% discounts on your order.
                    </li>
                    <li>
                      Free shipping at your place.
                    </li>
                    <li>
                      Promotional material.
                    </li>
                  </ol>
                </div>
                <div class="clear"></div>
              </div>
            </a>
          </li>
          <li class="orange">
            <a class="partnerbox" href="#become-a-partner">
              <%= image_tag "sjs.png" %>
              <div>
                <h2>Host a Community Sale.</h2>
                <div class="left">
                  You are a Community or Student Group having an upcoming event and want to cover up the organizing costs or maximize returns. Join Sweetly to make your event successful.
                  <span>Become a Partner</span>
                </div>
                <div class="right">
                  <ol>
                    <li>
                      Get products without large investment.
                    </li>
                    <li>
                      Earn 25% per product.
                    </li>
                    <li>
                      Return unsold inventory at no cost.
                    </li>
                  </ol>
                </div>
                <div class="clear">
                </div>
              </div>
            </a>
          </li>
          <li class="green">
            <a class="partnerbox" href="#become-a-partner">
              <%= image_tag "socialgood.png" %>
              <div>
                <h2>Raise funds for Social Good.</h2>
                <div class="left">
                  Want to set-up computer center at your village or want to support local charity but do not have financial support to do. Join Sweetly to double the impact and raise funds.
                  <span>Become a Partner</span>
                </div>
                <div class="right">
                  <ol>
                    <li>
                      Get products at very low cost and resell in your community.
                    </li>
                    <li>
                      Run your campaing at Sweetly.co/campaigns.
                    </li>
                  </ol>
                </div>
                <div class="clear"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>
  <article class="our_partners">
    <header>
      <h1>Meet our Valuable Partners</h1>
    </header>
    <section>
      <div class="first">
        <ul>
          <li>
            <%= image_tag "hullschool.png" %>
            <h2>Hull High School, Hull, MA, USA</h2>
            <p>Hull High School is a public high school located at Hull, Massachusetts. As Double the Impact partner they’ve used Sweetly Goodwill Bands to raise funds during their various events. <br /><br /> <a href="http://www.town.hull.ma.us/Public_Documents/HullMA_HighSchClass/homepage">http://www.town.hull.ma.us</a></p>
          </li>
          <li>
            <%= image_tag "circleofwomen.png" %>
            <h2>Circle of Women, Cambridge, MA, USA</h2>
            <p>Circle of Women is a young Harvard student-run nonprofit organization headquartered in Cambridge, MA.  Circle of Women have been working with Sweetly as Community Partner where they are hosting a Sweetly store at various Circle of Women events. <br /><br /> <a href="http://circleofwomen.org/">http://circleofwomen.org</a></p>
          </li>
        </ul>
      </div>
      <div class="second">
        <ul>
          <li>
            <%= image_tag "individual.png" %>
            <h2>Wembley Retail Shop, Wembley, UK</h2>
            <p>Wembley Retail shop provides wide range of women oriented retail products. They wanted to introduce completely new product line related to their customer base to increase their revenues. They have become the first Sweetly retail partner in UK.</p>
          </li>
          <li>
            <%= image_tag "karmayogastudio.png" %>
            <h2>Karma Yoga Studio, Boston, MA, USA</h2>
            <p>Karma Yoga Studio is an independent holistic fitness studio with three locations in Massachusetts: Harvard Square in Cambridge, South End in Boston, and Allston near B.U. in Boston. As Community Partner Karma Yoga Studio have been showcasing Sweetly products at their locations. <br /><br /><a href="http://www.karmayogastudio.com/">http://www.karmayogastudio.com</a></p>
          </li>
        </ul>
      </div>
      <p class="clear"></p>
    </section>
  </article>
  <div id="become-a-partner" class="cendiv">
    <div class="partner-form">
      <h1>Fill your details to partner with us:</h1>
      <%= render :partial => 'partners/form' %>
    </div>
    <div class="partner-faq">
      <h2>FAQs</h2>
      <ul>
        <li>
          <div class="que">
            Who can become partner?
          </div>
          <div class="ans">
            Anyone can become partner &mdash; Community group, Organization, Student groups, An Individual.
          </div>
        </li>
        <li>
          <div class="que">
            Can i use Sweetly products to fundraise?
          </div>
          <div class="ans">
            Yes. You can use Sweetly products to fundraise for your good purpose. We heartly welcome such proposals.
          </div>
        </li>
        <li>
          <div class="que">
            Can anyone make custom orders?
          </div>
          <div class="ans">
            Yes we accept custom orders. Get in touch with us to know about your orders.
          </div>
        </li>
        <li>
          <div class="que">
            Is shipping free for wholesale orders?
          </div>
          <div class="ans">
            Sweetly pays all shipping costs for wholesale orders.
          </div>
        </li>
        <li>
          <div class="que">
            Is there any minimum amount of order required for wholesale order?
          </div>
          <div class="ans">
            Yes. Minimum order should be $300.
          </div>
        </li>
        <li>
          <div class="que">
            From which countries you accept orders?
          </div>
          <div class="ans">
            We accept orders from worldwide.
          </div>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>

