<div id="primary" class="container">
  <article>
    <header>
      <h2 class="headline">
        <span>Become a Sweetly Partner and Do Business for Good.</span>
      </h1>
    </header> <!-- #what-is -->
    <p class="desc">Let’s work together to create beautiful world. Sweetly works with organizations, community groups, students groups, and individuals who retail or resell our products and get very good returns.</p>
    <section class="partner-adv">
      <a href="#partner-faq" class="partner-faq-link">Partner FAQ</a>
      <div class="first">
        <ul>
          <li class="blue">
            <a class="partnerbox" href="#become-a-partner">
              <%= image_tag "wholesale.png" %>
              <div>
                <h2>Become a Official Sweetly Retailer.</h2>
                <div class="left">
                  You have a retail store and want to introduce new exclusive product line for your customers to keep them more engaged with your offerings and increase your margins.
                  <span>Become a Partner</span>
                </div>
                <div class="right">
                  <ol>
                    <li>
                      Get 50% discounts on your order.
                    </li>
                    <li>
                      Free shipping at your place.
                    </li>
                    <li>
                      Promotional material.
                    </li>
                  </ol>
                </div>
                <div class="clear"></div>
              </div>
            </a>
          </li>
          <li class="orange">
            <a class="partnerbox" href="#become-a-partner">
              <%= image_tag "sjs.png" %>
              <div>
                <h2>Host a Community Sale.</h2>
                <div class="left">
                  You are a Community or Student Group having an upcoming event and want to cover up the organizing costs or maximize returns. Join Sweetly to make your event successful.
                  <span>Become a Partner</span>
                </div>
                <div class="right">
                  <ol>
                    <li>
                      Get products without large investment.
                    </li>
                    <li>
                      Earn 25% per product.
                    </li>
                    <li>
                      Return unsold inventory at no cost.
                    </li>
                  </ol>
                </div>
                <div class="clear">
                </div>
              </div>
            </a>
          </li>
          <li class="green">
            <a class="partnerbox" href="#become-a-partner">
              <%= image_tag "socialgood.png" %>
              <div>
                <h2>Raise funds for Social Good.</h2>
                <div class="left">
                  Want to set-up computer center at your village or want to support local charity but do not have financial support to do. Join Sweetly to double the impact and raise funds.
                  <span>Become a Partner</span>
                </div>
                <div class="right">
                  <ol>
                    <li>
                      Get products at very low cost and resell in your community.
                    </li>
                    <li>
                      Run your campaign at Sweetly.co/campaigns.
                    </li>
                  </ol>
                </div>
                <div class="clear"></div>
              </div>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </article>
  <article class="our_partners sixteen columns">
    <header>
      <h1 class="headline">Meet our Valuable Partners</h1>
    </header>
    <div class="row">
      <div class="first eight columns alpha">
        <div class="row">
          <div class="eight columns alpha">
            <h5 class="headline">Hull High School, Hull, MA, USA</h5>
            <%= image_tag "hullschool.png" %>
            Hull High School is a public high school located at Hull, Massachusetts. As Double the Impact partner they’ve used Sweetly Goodwill Bands to raise funds during their various events. <br /><br /> <a href="http://www.town.hull.ma.us/Public_Documents/HullMA_HighSchClass/homepage">http://www.town.hull.ma.us</a>
          </div>
          <div class="eight columns omega">
            <h5 class="headline">Circle of Women, Cambridge, MA, USA</h5>
            <%= image_tag "circleofwomen.png" %>
            Circle of Women is a young Harvard student-run nonprofit organization headquartered in Cambridge, MA.  Circle of Women have been working with Sweetly as Community Partner where they are hosting a Sweetly store at various Circle of Women events. <br /><br /> <a href="http://circleofwomen.org/">http://circleofwomen.org</a>
          </div>
        </div>
      </div>
      <div class="second first eight columns omega">
        <div class="row">
          <div class="eight columns alpha">
            <h5 class="headline">Wembley Retail Shop, Wembley, UK</h5>
            <%= image_tag "individual.png" %>
            Wembley Retail shop provides wide range of women oriented retail products. They wanted to introduce completely new product line related to their customer base to increase their revenues. They have become the first Sweetly retail partner in UK.
          </div>
          <div class="eight columns omega">
            <h5 class="headline">Karma Yoga Studio, Boston, MA, USA</h5>
            <%= image_tag "karmayogastudio.png" %>
            Karma Yoga Studio is an independent holistic fitness studio with three locations in Massachusetts: Harvard Square in Cambridge, South End in Boston, and Allston near B.U. in Boston. As Community Partner Karma Yoga Studio have been showcasing Sweetly products.<br/><br/><a href="http://www.karmayogastudio.com/">http://www.karmayogastudio.com</a>
          </div>
        </div>
      </div>      
    </div>
  </article>
  <div class="clear"></div>
  <div id="become-a-partner" class="row">
    <div class="partner-form eight columns aplha">
        <h5 class="headline">Fill your details to partner with us:</h5>
      <%= render :partial => 'partners/form' %>
    </div>
    <div id="partner-faq" class="partner-faq eight columns omega">
      <h5 class="headline">FAQ</h5>
      <ul>
        <li>
          <div class="que">
            Who can become a Sweetly Partner?
          </div>
          <div class="ans">
            We have partnered with diverse kind of partners i.e  Retailers, Organizations, Community Groups, Student Groups and Individuals
          </div>
        </li>
        <li>
          <div class="que">
            Can i use Sweetly products to raise funds?
          </div>
          <div class="ans">
            Yes. We have supported some individuals to raise funds to set up a computer center at his village. Either you can become a Wholesale Partner or we can run a campaign for you @ Sweetly.co/Campaigns (Fund raising campaigns for Social Good.)
          </div>
        </li>
        <li>
          <div class="que">
            Do you make custom orders?
          </div>
          <div class="ans">
            Yes. Sweetly works closely with rural women thru our design-centric community building approach. If you have certain ideas on how the products should be, we certainly have capabilities and willingness to create personalized jewelry designs. Send us your requirements @ <a href="mailto:hello@sweetly.co">hello@sweetly.co</a>.
          </div>
        </li>
        <li>
          <div class="que">
            How much you charge for shipping?
          </div>
          <div class="ans">
            Shipping is absolutely free for Wholesale partners. For rest of the cases depending on our association, quantity of products and location we provide you the additional shipping costs.
          </div>
        </li>
        <li>
          <div class="que">
            Is there any minimum amount of order required to become a Wholesale partner?
          </div>
          <div class="ans">
            Yes. Minimum amount of order required to become Wholesale Partner is $500.
          </div>
        </li>
        <li>
          <div class="que">
            In which countries you deliver products?
          </div>
          <div class="ans">
            We already have partners in US, Canada and UK. Of, course we are based in India and can deliver in any countries wherever our shipping partners have operations. We mostly ship our products from DHL, FedEx or UPS.
          </div>
        </li>
        <li>
          <div class="que">
            What material is used to make jewelry?
          </div>
          <div class="ans">
            Please follow this link to find out details about material used to make jewelry: <a href="<%= materials_path %>"><%= materials_url %></a>
          </div>
        </li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>
</div>

