<p id="notice"><%= notice %></p>

<p>
  <b>Picasa:</b>
  <%= @album.picasa_id %>
</p>

<p>
  <b>Title:</b>
  <%= @album.title %>
</p>

<p>
  <b>Photo:</b>
  <%= @album.photo %>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
