<h1>Listing notification_emails</h1>

<table>
  <tr>
    <th>String</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notification_emails.each do |notification_email| %>
  <tr>
    <td><%= notification_email.email %></td>
    <td><%= notification_email.name %></td>
    <td><%= link_to 'Show', notification_email %></td>
    <td><%= link_to 'Edit', edit_notification_email_path(notification_email) %></td>
    <td><%= link_to 'Destroy', notification_email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notification email', new_notification_email_path %>
