<p id="notice"><%= notice %></p>

<p>
  <b>String:</b>
  <%= @notification_email.email %>
</p>

<p>
  <b>Name:</b>
  <%= @notification_email.name %>
</p>


<%= link_to 'Edit', edit_notification_email_path(@notification_email) %> |
<%= link_to 'Back', notification_emails_path %>
