<!DOCTYPE html>
<html>
<head>
  <title>Sweetly</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Duru+Sans|Cambo' rel='stylesheet' type='text/css'>
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">

	<%= render :partial => "shared/header" %>

	<div class="container">
		<%= yield %>
	</div>

	<%= render :partial => "shared/footer" %>

</body>
</html>
