<!DOCTYPE html>
<html>
<head>
  <title>Sweetly</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Duru+Sans|Cambo' rel='stylesheet' type='text/css'>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33976586-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body class="<%= params[:controller] %>-<%= params[:action] %>">

	<%= render :partial => "shared/header" %>

	<div class="container">
		<%= yield %>
	</div>

	<%= render :partial => "shared/footer" %>

</body>
</html>
